body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px;
    color:#335ab3;
    background-color: azure;
}
li {
    margin: 10px;
}
code {
    font-family: 'Courier New', Courier, monospace;
    background-color: #eeeeee;
    border-radius: 3px;
    margin: 0 3px;
}
.degrade {
    background: linear-gradient(to right, #6e82b1,#4362a9, #335ab3, #335ab3);
    background-clip: text;
    color: transparent;
}
a {
    font-weight: bold;
    color:#4362a9;
}